################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/.vs
/.vs
/server/bin/Microsoft.NodejsTools.WebRole.dll
/server/obj/Debug
/server/typings
/node_modules
/Web.config
/more_recipes.sln
