################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/Web.config
/server/typings
/server/dist
/server/bin/Microsoft.NodejsTools.WebRole.dll
/server
/more_recipes.sln
/.vs
