<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link href="../resources/css/bootstrap.css" rel="stylesheet" />
    <script src="../resources/scripts/jquery.js"></script>
    <script src="../resources/scripts/popper.min.js"></script>
    <script src="../resources/scripts/bootstrap.js"></script>
    <link href="../resources/css/custom.css" rel="stylesheet" />
    <!-- custom styling strictly for recipe page below -->
    <style>
        @media screen and (max-width:780px) {
            #card-images {
                width: 100%;
                margin: auto;
            }
        }
        img .card-img-top {
            margin-top: 0.5em;
        }

        div .card-header {
            display: flex;
        }

        .recipe-title {
            margin-left: 10%;
            margin-top: 0.3em;
        }

        #review {
            border-color: darkorange;
        }
    </style>
</head>
<body class="appBackground">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-success">
        <a href="#" data-toggle="modal" data-target="#myModalSidebar"><img src="../resources/images/icon.png" id="menu-toggle" /></a>
        <a class="appTitle" id="title" href="#">More-Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBody" aria-controls="navBody" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapsible" id="navBody">
            <form class="form-inline my-2 my-lg-0" id="searchFormGroup">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by Ingredient" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 search-by-ingredient" id="searchByIngredient" type="submit">
                    <img src="../resources/images/glyphicons-28-search.png" />
                </button>
            </form>
            <ul class="navbar-nav my-2 my-lg-0 ml-auto" id="socialIcons">
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-3-google-plus.png" />
                    </a>
                </li>
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-31-facebook.png" />
                    </a>
                </li>
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-32-twitter.png" />
                    </a>
                </li>
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-6-blogger.png" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal left fade" id="myModalSidebar" tabindex="-1" role="dialog" aria-labelledby="myModalSidebarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content sidebar">
                <div class="modal-header  sidebar-header">
                    <h5 class="modal-title">
                        <b>Dashboard</b>
                    </h5>
                    <img class="sidebar-images close" data-dismiss="modal" src="../resources/images/glyphicons-332-dashboard.png">
                </div>
                <div class="modal-body">
                    <ul class="nav flex-column nav-tabs">
                        <li class="nav-item">
                            <a href="RecipeListing.html" class="nav-link">
                                Recipe Listing
                                <span class="glyphicon glyphicon-apple"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="MyFavorites.html" class="nav-link">
                                Favorites
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="Profile.html" class="nav-link">
                                MyProfile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="MyRecipes.html" class="nav-link">
                                MyRecipes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Invite
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Feedback
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../Login.html" class="nav-link">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div id="content" class="container custom-container">
        <div class="card mx-sm-auto col-sm-10">
            <div class="card-header">
                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                <h4 class="recipe-title"><b>African Royal</b></h4>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div id="card-images" class="mx-sm-auto col-sm-6">
                        <div class="flex">
                            <img src="../resources/images/food1.jpg" alt="African Royal" />
                            <img src="../resources/images/food2.jpg" alt="African Royal" />
                        </div>
                        <div class="flex">
                            <img src="../resources/images/food3.jpg" alt="African Royal" />
                            <img src="../resources/images/food4.jpg" alt="African Royal" />
                        </div>
                    </div>
                    <div id="post-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                        <p>
                            Functionally, class is little more than syntactic sugar over the prototype-based behavior delegation capabilities we've had all along. This article will take a close look at the basic use of ES2015's class keyword, from the perspective of its relation to prototypes. We'll cover:

                            Defining and instantiating classes;
                            Creating subclasses with extends;
                            super calls from subclasses; and
                            Examples of important symbol methods.
                            Along the way, we'll pay special attention to how class maps to prototype-based code under the hood.

                            Let's take it from the top.

                            Functionally, class is little more than syntactic sugar over the prototype-based behavior delegation capabilities we've had all along. This article will take a close look at the basic use of ES2015's class keyword, from the perspective of its relation to prototypes. We'll cover:

                            Defining and instantiating classes;
                            Creating subclasses with extends;
                            super calls from subclasses; and
                            Examples of important symbol methods.
                            Along the way, we'll pay special attention to how class maps to prototype-based code under the hood.

                            Let's take it from the top.

                        </p>
                    </div>
                </blockquote>
            </div>
            <div class="card-footer text-muted">
                <div id="card-footer" class="mx-sm-auto col-sm-8 flex">
                    <div class="col-sm-4">
                        <a href="#"><img src="../resources/images/glyphicons-20-heart-empty.png" /></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><img src="../resources/images/glyphicons-344-thumbs-up.png" /></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><img src="../resources/images/glyphicons-345-thumbs-down.png" /></a>
                    </div>
                </div><br />
                <form action="#">
                    <div class="form-group">
                        <label for="review">Review Recipe</label>
                        <textarea class="form-control" id="review" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- container -->
    <script src="../resources/scripts/app.js"></script>
</body>
</html>