<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link href="../resources/css/bootstrap.css" rel="stylesheet" />
    <script src="../resources/scripts/jquery.js"></script>
    <script src="../resources/scripts/popper.min.js"></script>
    <script src="../resources/scripts/bootstrap.js"></script>
    <link href="../resources/css/custom.css" rel="stylesheet" />
    <!--recipe listing styles below-->
    <style>
        .list-group-item {
            overflow-y: auto;
        }

        .favorite {
            width: 50%;
        }

        .card-img-top {
            height: 50px;
            width: 50px;
        }

        img .card-img-top {
            margin-top: 0.5em;
        }

        div .card-header {
            display: flex;
        }

        .owner {
            margin-left: 1em;
            color: white;
        }

        .top-favorite-img {
            height: 50%;
            width: 30%;
            margin-top: 0.6em;
        }

        .time {
            margin-left: 1em;
        }

        .search-recipes {
            width: 100%;
        }

        .recipe-listing-container {
            display: flex;
        }

            .recipe-listing-container .flex-column {
                color: black;
            }
    </style>
</head>
<body class="appBackground">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-success">
        <a href="#" data-toggle="modal" data-target="#myModalSidebar"><img src="../resources/images/icon.png" id="menu-toggle" /></a>
        <a class="appTitle" id="title" href="#">More-Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBody" aria-controls="navBody" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapsible" id="navBody">
            <form class="form-inline my-2 my-lg-0" id="searchFormGroup">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by Ingredient" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 search-by-ingredient" id="searchByIngredient" type="submit">
                    <img src="../resources/images/glyphicons-28-search.png" />
                </button>
            </form>
            <ul class="navbar-nav my-2 my-lg-0 ml-auto" id="socialIcons">
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-3-google-plus.png" />
                    </a>
                </li>
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-31-facebook.png" />
                    </a>
                </li>
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-32-twitter.png" />
                    </a>
                </li>
                <li class="nav-item nav-social">
                    <a class="nav-link" href="#">
                        <img src="../resources/images/glyphicons-social-6-blogger.png" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- container -->
    <div id="content" class="container custom-container">
        <!-- Modal -->
        <div class="modal left fade" id="myModalSidebar" tabindex="-1" role="dialog" aria-labelledby="myModalSidebarLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content sidebar">
                    <div class="modal-header  sidebar-header">
                        <h5 class="modal-title">
                            <b>Dashboard</b>
                        </h5>
                        <img class="sidebar-images close" data-dismiss="modal" src="../resources/images/glyphicons-332-dashboard.png">
                    </div>
                    <div class="modal-body">
                        <ul class="nav flex-column nav-tabs">
                            <li class="nav-item">
                                <a href="RecipeListing.html" class="nav-link">
                                    Recipe Listing
                                    <span class="glyphicon glyphicon-apple"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="MyFavorites.html" class="nav-link">
                                    Favorites
                                    <span class="glyphicon glyphicon-home"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="Profile.html" class="nav-link">
                                    MyProfile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="MyRecipes.html" class="nav-link">
                                    MyRecipes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Invite
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Feedback
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Help
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../Login.html" class="nav-link">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- modal -->
        <!-- Actual REcipe Listing Page -->
        <div class="recipe-listing-container">
            <div id="favorites" class="favorite">
                <ul class="nav nav-pills flex-column">
                    <li class="list-group-item sidebar-header text-center">
                        <b>TOP 8 RECIPES</b>
                    </li>
                    <li class="list-group-item top-eight">
                        <img class="top-favorite-img" src="../resources/images/food1.jpg" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food2.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food3.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food4.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food1.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food2.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food3.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                    <li class="list-group-item top-eight">
                        <img src="../resources/images/food4.jpg" class="top-favorite-img" alt="recipe1" />
                        <div class="top-eight-detail">
                            <b>African Royal Dish</b><br />
                            -By <a href="Profile.html">Anaeze Nsoffor</a>
                        </div>
                        <div>
                            <p class="time">Mon 12:45pm</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>&nbsp;</div>
            <div id="listings" class="listing">
                <ul class="nav nav-pills flex-column">
                    <li class="list-group-item sidebar-header text-center">
                        <form class="form-inline">
                            <input class="form-control search-recipes" type="search" placeholder="Search">
                        </form>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <div class="card">
                            <div class="card-header">
                                <img class="card-img-top img-fluid rounded-circle" src="../resources/images/Anaeze.jpg" alt="Card image cap">
                                <a href="Profile.html" class="owner">Anaeze Nsoffor</a>
                            </div>
                            <div class="card-body">
                                <a href="#">AFRICAN ROYAL DISH</a>
                                <blockquote class="blockquote mb-0">
                                    <a href="#"><img src="../resources/images/food1.jpg" alt="African Royal" /></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante...</p>
                                </blockquote>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="Recipe.html">View More</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../resources/scripts/app.js"></script>
</body>
</html>