.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.lineSpacing {
    margin-bottom: 0.5em;
}

.submitButton {
    color: black;
    background-color: lightgreen;
}

.send-password {
    color: black;
}

    .send-password:hover {
        background-color: yellowgreen;
        color: black;
    }

.search-by-ingredient {
    background-color: darkgreen;
    color: white;
}

.link {
    color: white;
}

.navbar-dark .navbar-toggler {
    background-color: darkgreen;
}

.appTitle {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0.3em;
    font-size: 1.2em;
    color: black;
    margin-left: 0.3em;
}

.formDiv {
    box-shadow: 10px 10px 5px #888888;
    background-color: darkgreen;
    padding: 2em;
    border-radius: 1em;
    color: black;
    margin-top: 100px;
}
.uploader{
    display:block;
}
.file-upload{
    display:none;
}

.appBackground {
    background-color: lightgreen;
}


.form-links {
    text-align: center;
}

    .form-links a {
        color: #fff;
    }

.user-icon {
    width: 60%;
    margin: auto;
}

.email-input {
    background-color: palegoldenrod;
}

.modal-theme {
    background-color: goldenrod;
}

.social-icons {
    background-color: white;
}

.navbar-background {
    background-color: darkgreen;
    color: white;
}

.collapsible {
    max-width: 65%;
}

.text-center {
    text-align: center;
}

.fixed-top {
    height: 4em;
    padding-left: 0em;
    padding-right: 0em;
}

a:hover {
    color: lightgreen;
}

.submitButton:hover {
    background: #4ab712;
    color: black;
}



/*SIDE BAR STYLES*/
.modal.left .modal-content {
    height: 100%;
    /*overflow-y: auto;*/
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.left .modal-dialog {
    margin: auto;
    width: 22%;
    height: 100vh;
    transform: translate3d(0%, 0, 0);
}

.modal.left.fade .modal-dialog {
    left: -39%;
    transition: opacity 2s linear, left 2s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.sidebar {
    background-color: black;
    color: white;
}


.sidebar-header {
    background-color: darkgreen;
    color:white;
}
